In [80]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
import scipy.stats as stats

# 1 part

In [81]:
a1 = pd.Series(['T', 'T', 'T', 'F', 'F', 'F', 'F', 'T', 'F'])
a2 = pd.Series(['T', 'T', 'F', 'F', 'T', 'T', 'F', 'F', 'T'])
a3 = pd.Series([5, 7, 8, 3, 7, 4, 5, 6, 1])
Class = pd.Series(['Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N'])

data = pd.DataFrame({'a1':a1, 'a2':a2, 'a3':a3, 'Class':Class})
data

  a1 a2  a3 Class
0  T  T   5     Y
1  T  T   7     Y
2  T  F   8     N
3  F  F   3     Y
4  F  T   7     N
5  F  T   4     N
6  F  F   5     N
7  T  F   6     Y
8  F  T   1     N

In [82]:
data['Class'] = data['Class'].map(lambda x : True if x == 'Y' else False)

for col in ['a1', 'a2']:
    data[col] = data[col].map(lambda x : True if x == 'T' else False)
data

      a1     a2  a3  Class
0   True   True   5   True
1   True   True   7   True
2   True  False   8  False
3  False  False   3   True
4  False   True   7  False
5  False   True   4  False
6  False  False   5  False
7   True  False   6   True
8  False   True   1  False

In [83]:
to_predict = pd.DataFrame({'a1':[True], 'a2':[False], 'a3':[1]})
to_predict

     a1     a2  a3
0  True  False   1

In [143]:
clf = GaussianNB()
clf.fit(data.drop('Class', axis=True), data['Class'])

clf.predict(to_predict)

array([False])

In [86]:
n = data.shape[0]
n1 = np.count_nonzero(data['Class'])
n2 = n - n1

print(n, n1, n2)

9 4 5

In [87]:
p1 = n1 / n
p2 = n2 / n

print(p1, p2)

0.4444444444444444 0.5555555555555556

In [88]:
m1 = np.mean(data[data['Class']==True].drop('Class', axis=True), axis=0)
m2 = np.mean(data[data['Class']==False].drop('Class', axis=True), axis=0)

print(m1)
print(m2)

a1    0.75
a2    0.50
a3    5.25
dtype: float64
a1    0.2
a2    0.6
a3    5.0
dtype: float64

In [89]:
data['a1']

cov1 = data[data['Class']==True].drop('Class', axis=True).cov()
cov2 = data[data['Class']==False].drop('Class', axis=True).cov()

print(cov1)
print(cov2)

          a1        a2        a3
a1  0.250000  0.166667  0.750000
a2  0.166667  0.333333  0.500000
a3  0.750000  0.500000  2.916667
      a1    a2    a3
a1  0.20 -0.15  0.75
a2 -0.15  0.30 -0.75
a3  0.75 -0.75  7.50

In [144]:
print(stats.multivariate_normal.pdf(to_predict, m1, cov1))
print(stats.multivariate_normal.pdf(to_predict, m2, cov2))

7.70564951693262e-10
0.00013481709238125737