In [36]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB

# 1 part

In [57]:
a1 = pd.Series(['T', 'T', 'T', 'F', 'F', 'F', 'F', 'T', 'F'])
a2 = pd.Series(['T', 'T', 'F', 'F', 'T', 'T', 'F', 'F', 'T'])
a3 = pd.Series([5, 7, 8, 3, 7, 4, 5, 6, 1])
Class = pd.Series(['Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N'])

data = pd.DataFrame({'a1':a1, 'a2':a2, 'a3':a3, 'Class':Class})
data

  a1 a2  a3 Class
0  T  T   5     Y
1  T  T   7     Y
2  T  F   8     N
3  F  F   3     Y
4  F  T   7     N
5  F  T   4     N
6  F  F   5     N
7  T  F   6     Y
8  F  T   1     N

In [58]:
data['Class'] = data['Class'].map(lambda x : True if x == 'Y' else False)

for col in ['a1', 'a2']:
    data[col] = data[col].map(lambda x : True if x == 'T' else False)
data

      a1     a2  a3  Class
0   True   True   5   True
1   True   True   7   True
2   True  False   8  False
3  False  False   3   True
4  False   True   7  False
5  False   True   4  False
6  False  False   5  False
7   True  False   6   True
8  False   True   1  False

In [59]:
to_predict = pd.DataFrame({'a1':[True], 'a2':[False], 'a3':[1]})
to_predict

     a1     a2  a3
0  True  False   1

In [60]:
clf = GaussianNB()
clf.fit(data.drop('Class', axis=True), data['Class'])

GaussianNB()

In [61]:
clf.predict(to_predict)

array([False])